# Data Analysis

In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('data.csv')

In [11]:
## Equations

In [15]:
df['Equation'].value_counts()

Equation
- number0 number1              207
+ number0 number1              187
* number0 number1              112
/ number0 number1               88
- number1 number0               52
                              ...
+ - number0 number2 number1      1
+ + number2 number1 number0      1
- - number2 number1 number0      1
- - number0 number2 number1      1
- + number2 number0 number1      1
Name: count, Length: 71, dtype: int64

In [17]:
value_counts = df['Equation'].value_counts()

In [18]:
result = df[df['Equation'].map(value_counts) <= 5]

In [21]:
result

,input,Equation
69,while building the house charlie noticed that ...,+ + number0 number5 number3
109,after recess buddy changed clothes for gym cla...,+ number2 number3
196,katie loves to travel . on her birthday she de...,- number0 + number3 number5
201,she then went to number0 orphanages and donate...,- number1 + number2 number3
331,maggi had number0 packages of cupcakes . there...,- * number0 number1 number2
357,number0 stamp costs $ number1 . number2 stamps...,+ number5 number1
363,in number0 week an airplane pilot flew number1...,* + number1 number2 number3
373,mrs. hilt saw a rollercoaster . number0 studen...,* number0 / number2 number1
381,shelby had number0 pieces of candy . she gave ...,- number0 * number1 number2
450,a number machine changes the value of the numb...,- + number2 number0 number1
454,a worm has fallen into a hole that is number0 ...,/ number0 - number1 number2
470,jake read number0 pages of his new book . it h...,+ number0 number3
480,tommy has $ number0 . he wants to buy a $ numb...,- + number1 number2 number0
502,the third graders are having a fair . they hav...,- - number0 number2 number1
503,kevin collected toys to use as prizes at the f...,- - number2 number1 number0
510,jean had a bag of candy . she gave number0 pie...,+ + number2 number1 number0
513,ramon works at the supermarket . he put number...,+ - number0 number2 number1
515,number0 children and number1 adults went to th...,- - number2 number0 number1
538,the difference between number0 numbers is numb...,+ number2 number1
844,edward earned number0 dollars for every lawn h...,+ * number1 number0 number2
911,chloe and her friends were recycling paper for...,/ + number2 number3 number0
932,a pet store had number0 puppies . in number1 d...,/ - number0 number2 number3
933,faye picked number0 flowers for her friend 's ...,/ - number0 number2 number1

### 23 Examples have only one instance

Mostly complex and having three entities

In [22]:
df.iloc[480]

input       tommy has $ number0 . he wants to buy a $ numb...
Equation                          - + number1 number2 number0
Name: 480, dtype: object

In [30]:
dd = df[df['Equation'].map(value_counts) >= 100]

In [32]:
dd['Equation'].value_counts()

Equation
- number0 number1    207
+ number0 number1    187
* number0 number1    112
Name: count, dtype: int64

### Only three equations have more than 100 of the type

In [33]:
dd = df[df['Equation'].map(value_counts) <= 100]

In [35]:
dd['Equation'].value_counts()

Equation
/ number0 number1              88
- number1 number0              52
+ + number0 number1 number2    39
- - number0 number1 number2    38
/ number1 number0              33
                               ..
- + number2 number0 number1     1
- number0 * number1 number2     1
* number0 / number2 number1     1
* + number1 number2 number3     1
- - number2 number1 number0     1
Name: count, Length: 68, dtype: int64

In [36]:
dd = df[df['Equation'].map(value_counts) <= 33]

In [37]:
dd['Equation'].value_counts()

Equation
/ number1 number0              33
- + number0 number1 number2    16
+ - number0 number1 number2    15
/ number0 number2              11
/ - number0 number1 number2    10
                               ..
- + number1 number2 number0     1
- - number0 number2 number1     1
- - number2 number1 number0     1
+ + number2 number1 number0     1
+ number2 number3               1
Name: count, Length: 64, dtype: int64

# Less than 2 examples

In [38]:
dd = df[df['Equation'].map(value_counts) < 2]

In [41]:
dd['Equation'].value_counts()

Equation
+ + number0 number5 number3    1
- + number1 number2 number0    1
/ - number0 number2 number3    1
/ + number2 number3 number0    1
+ * number1 number0 number2    1
+ number2 number1              1
- - number2 number0 number1    1
+ - number0 number2 number1    1
+ + number2 number1 number0    1
- - number2 number1 number0    1
- - number0 number2 number1    1
+ number0 number3              1
+ number2 number3              1
/ number0 - number1 number2    1
- + number2 number0 number1    1
- number0 * number1 number2    1
* number0 / number2 number1    1
* + number1 number2 number3    1
+ number5 number1              1
- * number0 number1 number2    1
- number1 + number2 number3    1
- number0 + number3 number5    1
/ - number0 number2 number1    1
Name: count, dtype: int64

In [42]:
dd

,input,Equation
69,while building the house charlie noticed that ...,+ + number0 number5 number3
109,after recess buddy changed clothes for gym cla...,+ number2 number3
196,katie loves to travel . on her birthday she de...,- number0 + number3 number5
201,she then went to number0 orphanages and donate...,- number1 + number2 number3
331,maggi had number0 packages of cupcakes . there...,- * number0 number1 number2
357,number0 stamp costs $ number1 . number2 stamps...,+ number5 number1
363,in number0 week an airplane pilot flew number1...,* + number1 number2 number3
373,mrs. hilt saw a rollercoaster . number0 studen...,* number0 / number2 number1
381,shelby had number0 pieces of candy . she gave ...,- number0 * number1 number2
450,a number machine changes the value of the numb...,- + number2 number0 number1
454,a worm has fallen into a hole that is number0 ...,/ number0 - number1 number2
470,jake read number0 pages of his new book . it h...,+ number0 number3
480,tommy has $ number0 . he wants to buy a $ numb...,- + number1 number2 number0
502,the third graders are having a fair . they hav...,- - number0 number2 number1
503,kevin collected toys to use as prizes at the f...,- - number2 number1 number0
510,jean had a bag of candy . she gave number0 pie...,+ + number2 number1 number0
513,ramon works at the supermarket . he put number...,+ - number0 number2 number1
515,number0 children and number1 adults went to th...,- - number2 number0 number1
538,the difference between number0 numbers is numb...,+ number2 number1
844,edward earned number0 dollars for every lawn h...,+ * number1 number0 number2
911,chloe and her friends were recycling paper for...,/ + number2 number3 number0
932,a pet store had number0 puppies . in number1 d...,/ - number0 number2 number3
933,faye picked number0 flowers for her friend 's ...,/ - number0 number2 number1

In [52]:
dd.loc[844]

input       edward earned number0 dollars for every lawn h...
Equation                          + * number1 number0 number2
Name: 844, dtype: object

In [55]:
df.to_csv('in.csv', sep='\t', index=False)